* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    scroll-behavior: smooth;
}


:root {
    --background-color: #fffffe;
    --background-secondary-color: #fafafa;
    --border-color: #ddd;
    --headline-color: #094067;
    --paragraph-color: #5f6c7b;
    --button-color: #3da9fc;
    --button-text: #fffffe;
    --hover-color: #0091ff;
    --burger-color: #333;
    --box-color: #fffffe;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.192);
}

.dark-mode {
    --background-color: #232946;
    /* --background-color: #212123; */

    --background-secondary-color: #232946;
    /* --background-secondary-color: #262627; */

    --border-color: #010101;
    --headline-color: #fffffe;
    --paragraph-color: #94a1b2;
    --button-color: #3da9fc;
    --button-text: #fffffe;
    --hover-color: #0091ff;
    --burger-color: #fffffe;
    --box-color: #1d2346;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.192);
}


body {
    font-size: 16px;
    line-height: 1.6;
    color: var(--paragraph-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}

.container {
    width: 75%;
    margin: 0 auto;
    max-width: 1200px;
}

.highlight {
    color: #3da9fc;
    text-decoration: none;
    font-weight: bold; /* Zvýraznění textu tučným písmem */
}

/* progressBar */
.scroll-indicator {
    position: fixed;
    top: 0;
    z-index: 101;
    width: 100%;
    background-color: transparent;
}
  
.progress-container {
    width: 100%;
    height: 8px;
    background: transparent;
}
  
.progress-bar {
    height: 0.25em;
    background: var(--button-color);
    width: 0%;
}/* ------------- */

header {
    background: var(--background-color);
    border-bottom: 1px solid var(--border-color);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrovat obsah */
    z-index: 200;
}

nav {
    display: flex;
    justify-content: right; /* Centrum pro navigaci */
    text-align: right;
    flex-grow: 1;
    letter-spacing: 0.05px;
    margin-right: 0;
    padding-right: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--headline-color);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 590;
    transition: color 0.3s ease;
    position: relative;
}


/* Efekt podtržení (stroke) při hover */
nav ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;               /* Startovací šířka linky */
    content: '';
    background: var(--button-color);      /* Barva linky pod textem */
    height: 2px;              /* Výška linky */
    transition: width 0.5s ease;  /* Animace roztažení linky */
}

nav ul li a:hover:after {
    width: 100%;              /* Když je hover, roztáhne se přes celý text */
}

nav ul li a:hover {
    color: var(--button-color);
}

.nav-action {
    color: #fffffe;
    background-color: #3da9fc;
    font-weight: 599;
    padding: 15px 30px;
    border-radius: 5px;
}

.nav-action:hover {
    background-color: var(--hover-color);
    color: var(--button-text);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.nav-action:after {
    position: relative;
    bottom: 0%;
    left: 0;
    right: 0;
    margin: 0;
    width: 0;
    content: "";
    background: none;
    height: 0;
    transition: none;
}


/* Hamburger Menu */
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--burger-color);
    margin: 5px;
    transition: all 0.3s ease;
}

section {
    padding: 60px 0;
    background-color: var(--background-color);
}

section h2 {
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 2em 0;
    color: var(--headline-color);
    font-weight: 800;
    letter-spacing: -1px;
}

.hero {
    background-color: var(--background-secondary-color);
    height: 90vh; /* Výška hero sekce nastavena na 100 % výšky okna */
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px; /* Přizpůsobení pro menší obrazovky */
}

.hero h1 {
    font-size: 3.5em;
    color: var(--headline-color);
    margin-bottom: 60px;
    text-align: left;
}

.hero p {
    font-size: 1.2em;
    color: var(--paragraph-color);
    margin-bottom: 30px;
}

.cta-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--button-color);
    color: var(--button-text);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 599;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.heading{
    transform: scale(0.3); /* Zmenšení na polovinu */
    animation: growIn 2s ease-out forwards; /* Spustí animaci zvětšení */
}

#nextSection {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#nextSection:hover {
    transform: translate(-50%, -2px);
}

#dynamic-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

@keyframes growIn {
    0% {
        opacity: 0; /* Neviditelný na začátku */
        transform: scale(0.5); /* Začíná zmenšený */
    }
    100% {
        opacity: 1; /* Plná viditelnost */
        transform: scale(1); /* Vrátí se na normální velikost */
    }
}


#dynamic-image p {
    margin: 0;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#dynamic-image img {
    margin: 0;
    width: 20px;
    transition: transform 0.3s ease;
}

#nextSection:hover #dynamic-image img,
#nextSection:active #dynamic-image img {

    transition: transform 0.3s;
}


.about {
    padding: 60px 0;
    background-color: var(--background-secondary-color);
}

.about h2 {
    padding: 25px;
}

.about p {
    margin: 15px 0;
}

.timeline {
    position: relative;
    max-width: 800px; /* Nastavit maximální šířku */
    margin: 0 auto; /* Vycentrovat */
    padding: 20px 0; /* Odsazení kolem */
}

/* Styl pro jednotlivé položky časové osy */
.timeline-item {
    position: relative; /* Pozice pro pseudo-elementy */
    margin: 20px 0; /* Mezery mezi jednotlivými položkami */
    display: flex; /* Flexbox pro zarovnání teček a obsahu */
    align-items: center; /* Vertikální zarovnání */
}

/* Styl pro tečky */
.circle {
    width: 20px; /* Průměr tečky */
    height: 20px; /* Průměr tečky */
    background-color: var(--button-color); /* Barva tečky */
    border-radius: 50%; /* Zaoblené hrany */
    position: absolute; /* Umístění tečky */
    left: calc(50% - 10px); /* Centrovat tečku na lince */
    top: 0; /* Umístění tečky na vrchol */
    z-index: 1; /* Zajistit, aby byla tečka nad čarou */
}

/* Styl pro obsah vedle tečky */
.content {
    padding: 5px 30px 5px 40px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
    opacity: 0; /* Skrytí před animací */
    transform: translateY(20px); /* Posun dolů pro animaci */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Přechod pro animaci */
}

/* Viditelný stav po skrolování */
.content.visible {
    opacity: 1; /* Zobrazit */
    transform: translateY(0); /* Vrať se na výchozí pozici */
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0; /* Začátek čáry na vrcholu */
    height: 100%; /* Výška čáry */
    width: 2px; /* Šířka čáry */
    background-color: var(--border-color); /* Barva čáry */
    transform: translateX(-50%); /* Vycentrování čáry */
    z-index: 0; /* Zajistit, aby byla čára pod obsahem */
}


.portfolio {
    background-color: var(--background-secondary-color);
}

.portfolio .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sloupce */
    gap: 30px; /* mezera mezi projekty */
}

.portfolio .project {
    background-color: var(--box-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    text-align: center;
}

.project h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: var(--headline-color);
}

.project p {
    margin-bottom: 15px;
    color: var(--paragraph-color);
    font-size: 1em;
}

.project .btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: var(--button-color);
    color: var(--button-text);
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.project .btn:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skills {
    background-color: var(--background-secondary-color);
}

.skills h2 {
padding: 0.5em;
}

.skills ul {
    list-style: none;
    text-align: center;
}

.skills ul li {
    display: inline-flex;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--box-color);
    border-radius: 5px;
    margin: 10px;
    font-size: 1.1em;
    box-shadow: var(--shadow);
}
.skills ul li:hover,
.skills ul li:active {
    transform: scale(1.09);
    transition: transform 0.1s ease;
}

.skills-icon {
    width: 20px;
    margin: 1px;
    margin-right: 5px;
}



footer {
    background-color: var(--background-color);
    padding: 20px 0 0 0;
    border-top: 1px solid var(--border-color);
    color: var(--paragraph-color);
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: center; /* Vycentrování obou sloupců */
    align-items: center; /* Vertikální zarovnání */
    gap: 20px; /* Mezery mezi sloupci */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap; /* Umožní přechod na novou řadu na menších obrazovkách */
}

.footer-box {
    flex: 1 1 calc(50% - 20px); /* Umožní sloupcům růst rovnoměrně */
    min-width: 250px; /* Minimální šířka sloupců */
    text-align: center; /* Zarovnání textu na střed */
}

.footer-box h2 {
    color: var(--headline-color);
    margin-bottom: 15px;
    font-size: 1.8em;
}

.footer-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Zarovnání položek pod sebou */
    align-items: center; /* Vycentrování položek */
    gap: 15px; /* Mezery mezi položkami */
}

.footer-box ul li {
    display: flex;
    align-items: center;
    justify-content: center; /* Horizontální vycentrování položek */
    margin-bottom: 10px;
    opacity: 0; /* Skrytí při načítání pro animaci */
    animation: fadeIn 1s ease forwards; /* Animace načítání */
    animation-delay: 0.2s; /* Zpoždění pro každou ikonu, aby se objevily postupně */
}

.contact-icon {
    width: 35px;
    height: 35px;
    background-color: #3da9fc; /* Barva pozadí pro ikony */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.contact-icon i {
    font-size: 15px; /* Nastavení velikosti ikon */
    color: #fff; /* Barva ikon */
    transition: color 0.3s ease; /* Efekt změny barvy při hover */
}

.contact-content a {
    color: var(--headline-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-content a:hover {
    color: #3da9fc;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Odkazy pod sebou */
    align-items: center;
    gap: 5px; /* Zmenšená mezera mezi odkazy */
}

.footer-nav ul li {
    margin: 0; /* Odstranění mezery mezi řádky */
    padding: 5px 0; /* Mírné zmenšení vertikálního odsazení */
}

.footer-nav ul li a {
    color: var(--headline-color);
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 1em; /* Mírně menší velikost písma */
}

.footer-nav ul li a:hover {
    color: var(--button-color);
}


.footer-bottom {
    display: flex;
    justify-content: center; /* Horizontální vycentrování */
    align-items: center; /* Vertikální vycentrování */
    font-size: 1em;
    color: var(--paragraph-color);
    border-top: 1px solid var(--border-color);
    padding: 1rem;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0; /* Odstranění mezery kolem textu */
}


/* Animace pro načítání ikon */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Ikony začínají trochu níž */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Ikony se dostanou na původní pozici */
    }
}

/* Responsivní styly pro menší zařízení */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center; /* Vycentrování všech sloupců pod sebou */
    }

    .footer-box {
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-nav ul li {
        margin-bottom: 5px;
    }
}







.theme-toggle-btn {
    background-color: var(--button-color);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button-text);
    font-size: 1.2em;
    position: relative; /* Umožní další efekty */
    overflow: hidden;
    margin: 20px 0; /* Odsazení od ostatních prvků */
}

.theme-toggle-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.theme-toggle-btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styl pro ikonu uvnitř tlačítka */
.theme-toggle-btn img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}



.no-scroll {
    overflow: hidden; /* Zakáže rolování */
}

/* scroll up btn */
.scroll-up-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 8px 9px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.192);
    display: none; /* Skrýt tlačítko na začátku */
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000;
}
.scroll-up-btn:hover {
    background-color: var(--hover-color);
    transform: scale(1.05);
}
.scroll-up-btn img {
    padding: 0;
    margin: 0;
    width: 21px;
}



@media (max-width: 768px) {
    .container {
        width: 80%;
    }

    section h2 {
        padding: 0.8em 0;
    }

    /* Navigace */
    header {
        height: 60px; /* Sníží výšku navigační lišty */
        display: flex;
        align-items: center;
        justify-content: space-between; /* Zarovná hamburger a logo do stran */
    }

    nav ul {
        display: none;
        z-index: 101; /* Zajistí, že navigace bude nad hero sekcí */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Upraví polohu dropdown navigace pod horní lištou */
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        border-top: 1px solid var(--border-color);
        padding: 0;
        margin: 0;
    }

    nav ul.nav-active {
        display: flex;
    }

    nav ul li {
        margin: 15px 0;
        text-align: center;
        padding: 10px 0; /* Sníží výšku jednotlivých položek v menu */
    }

    nav ul li a {
        padding: 12px 0; /* Optimalizace prostoru mezi odkazy */
        font-size: 1em; /* Mírné zmenšení fontu pro lepší čitelnost */
    }

    /* Burger menu */
    .burger {
        display: block;
        position: absolute;
        top: 20px;
        right: 15px; /* Lepší zarovnání hamburger ikony na pravé straně */
        width: 25px; /* Zajistí menší hamburger ikonu */
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    /* Hero section */
    .hero {
        height: 80dvh; /* Zmenšení výšky hero sekce */
        padding: 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 2em; /* Upravení velikosti nadpisu */
    }

    .hero p {
        font-size: 1em; /* Zmenšení textu pro menší zařízení */
    }

    /* CTA tlačítko */
    .cta-btn {
        padding: 12px 20px; /* Zmenšení tlačítka na mobilních zařízeních */
        font-size: 1em;
    }

    /* Ostatní sekce */
    .about p {
        text-align: center;
    }

    .portfolio .container {
        grid-template-columns: 1fr; /* 1 sloupec na úzkých obrazovkách */
    }

    /* Ikony */
    .icon-container {
        margin: 0; /* Odstraní nadbytečné odsazení kolem ikony */
    }

    .contact-container {
        justify-content: center; /* Vycentruje boxy */
        flex-direction: column; /* Uspořádá boxy pod sebe */
        padding: 20px; /* Zachová odsazení kolem */
    }

    .contact-box {
        width: 80%; /* Zachová šířku boxů na mobilních zařízeních */
        max-width: 500px; /* Nastaví maximální šířku, aby se nezvětšovaly příliš */
        margin: 10px auto; /* Vycentruje boxy na menších obrazovkách */
    }
}

@media (max-height: 538px) {
    #dynamic-image {
        display: none;
    }
}



/* Definice animace slide-in */
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); /* Konečná pozice na obrazovce */
    }
}

/* Slide-up animation */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





.slide-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Zoom-in animation */
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.zoom-in {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.zoom-in.visible {
    opacity: 1;
    transform: scale(1);
}

/* Definice animace fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Začíná mírně posunutý dolů */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Na konci je na původní pozici */
    }
}

/* Třída pro animaci */
.fade-in {
    opacity: 0; /* Skryté před animací */
    animation: fadeIn 0.5s ease forwards; /* Spustí animaci */
}




.benefits-wrap {
    flex-direction: column;
    display: flex;
    padding: 20px;
}

.benefits-wrap h2 {
    padding-bottom: 13px;
}

.benefits-wrap p {
    text-align: center;
}

.benefits {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr); /* Tři sloupce pro desktop */
    gap: 20px;
    max-width: 1200px;
}

.benefit {
    background-color: #fffffe;
    padding: 30px; /* Zvýšení paddingu pro benefit bloky */
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Přidán efekt pro stín */
    opacity: 0; /* Inicializace opacity pro animaci */
    transform: translateY(20px); /* Posun pro animaci */
    text-align: center; /* Vycentrování textu a ikon */
    margin: 10px; /* Přidání marginu mezi jednotlivými bloky */
}

.benefit.visible {
    opacity: 1; /* Viditelnost při aktivaci třídy */
    transform: translateY(0); /* Vrátí se na původní pozici */
}

.benefit h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #094067;
}

.benefit-header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #094067;
    margin-bottom: 20px;
}

.benefit p {
    font-size: 1rem;
    color: #5f6c7b;
}

/* Ikony */
.icon {
    font-size: 2.5rem; /* Velikost ikony */
    margin-bottom: 10px; /* Mezera pod ikonou */
}

.benefit:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Zvýšení stínu při hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



/* Responsivní design pro mobilní zařízení */
@media (max-width: 768px) {
    .benefits {
        grid-template-columns: 1fr; /* Jediný sloupec pro menší obrazovky */
    }
}

.faq-wrap {
    padding: 20px;
}

.faq-wrap h2 {
    padding-bottom: 13px;
}

.faq-wrap p {
    text-align: center;
}

.faq {
    width: 100%;
    max-width: 800px; /* Maximální šířka pro FAQ sekci */
    margin: 40px auto; /* Centrování sekce FAQ */
    padding: 20px; /* Padding pro celou sekci */
}

.faq p {
    font-size: 1rem;
    color: #5f6c7b;
    max-width: 600px;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    width: 100%; /* Nastavení šířky na 100% */
}

.faq-question {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold; /* Zvýraznění otázky */
    color: #094067; /* Barva textu pro otázky */
    width: 100%; /* Šířka otázky přes celý blok */
}

.faq-answer {
    display: none;
    padding-top: 5px;
    color: #5f6c7b; /* Barva textu pro odpovědi */
    opacity: 0; /* Inicializace opacity pro animaci */
    transform: translateY(-10px); /* Posun pro animaci */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Přidání přechodu pro opacity a transformaci */
    text-align: justify;
    max-width: 100%; /* Roztažení odpovědi přes celý blok */
}

.faq-answer p {
    text-align: justify;
    margin: 0; /* Nastaví odsazení na 0 pro správné zarovnání */
}

.faq-item.active .faq-answer {
    display: block;
    opacity: 1; /* Zviditelnění odpovědi */
    transform: translateY(0); /* Vrátí se na původní pozici */
}

.arrow img {
    width: 20px;
    rotate: 180deg;
    transition: transform 0.2s;
}

.faq-item.active .arrow {
    transform: rotate(180deg); /* Otočení šipky při aktivaci */
    transition: 0.3s;
}